
ML project/CNN2_histories/
ML project/CNN2_models/
ML project/data/
ML project/RNN_histories/
ML project/RNN_models/
ML project/CNN1_models/
ML project/CNN1_histories/
ML project/CNN_models/
ML project/CNN_histories/
