
ML project/CNN2_histories/
ML project/CNN2_models/
ML project/data/
ML project/RNN_histories/
ML project/RNN_models/
ML project/CNN1_models/
ML project/CNN1_histories/
ML project/CNN_models/
ML project/CNN_histories/
ML project/CNN3_models/
ML project/CNN3_histories/
ML project/project.ipynb
ML project/training_CNN2_away.ipynb